body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.kr ul, li {
	font-size: medium;
	font-weight: 100;
	margin-left: 30px;
	color: gray;
	height:auto;

}

.goal {
	font-size: large;
	font-weight: bold;
}


form.okr input[type='text'] {
	width: 85%;
	height: 30px;
	font-size: medium;

}

#period {
	width: 50px;

}

#date input{
	width: 85px;
	height: 15px;
	font-size:smaller;
}

.objdiv ul, li {
	margin-left: 30px;
}

#save {
	float:right;
	height: 30px;
	width: 50px;
	background-color: black;
	border-style: double;
	border-color: red;
	color: white;

}

#kr-input  {
	width: 65%;

}

.depend {
	background-color: yellow;
	width: 40px;
	font-size: x-small;
	text-align: center;
}

.enable {
	background-color: green;
	width: 40px;
	font-size: x-small;
	text-align: center;
}

.commentbox {
	width: 40%;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 10px;
	background-color: #88b0ff;
	color: #121212;
}


.commentbox li {
	
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	margin-top: 4px;
	color: #0e0e0e;
	font-size: small;
	list-style-type: none;
	border-top-color: gray;
	border-top-style: solid;
	width: 20%;
	
}

.commentbox input[type='text'] {
	margin-top: 6px;
	margin-left: 10px;
}

form.controls {
	background-color: #f8ff42;
	float: right;
}

#depend {
	margin-left: 20px;
}
